<!DOCTYPE html>
<html>
  <head>
    <meta name="viewport" content="width=device-width,initial-scale=1.0">
    <meta charset="utf-8">
    <title>Taipei Tour</title>
    <link rel="stylesheet" type="text/css" href="/static/layout.css">    
  </head> 
  <body>  
   <div class="top">
    <div class="frame">
      <div class="heading" style="font-size:26px; font-weight:bolder; color:#2B99BB ;">台北一日遊</div>
      <div class="desktop-menu">
        <div class="item">預定行程</div>
        <div class="item">登入/註冊</div>
      </div>
      <div class="mobile-menu">
        <img src="/static/images/Menu.png" width=30px height=30px>
      </div>
    </div>
     </div>
      
    <div class="welcome">
      <img src="/static/images/welcome.png" style="width:100%; height:320px;object-fit:cover;object-position:50% 20%"> 
      <div class="main_topic">輕鬆享受台北一日悠閒</div>
      <div class="slogan">探索每個角落，體驗城市的深度旅遊行程</div>
      <div class="search_bar"><input id="search_input" type="text" placeholder="輸入景點名稱查詢">
      <button id="search_button"></button><img id="search_icon" src="/static/images/icon_search.png">
      <div id="search_category">
      </div>
      </div>
    </div>
   
           
   <section>
<div class="container"></div>
</section>    
  <script src="/static/script.js"></script>
  </body>
  </html>